@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

.whtsc{
    position: fixed;
    z-index: 10002;
    bottom: 0; right: 0; left: auto; top: auto;
    content: '';
    font-family: Verdana, Geneva, sans-serif;
    padding: 12px;
}
.whtsc .whtsm{
    position: relative;
    font-size: 18px; background-color: #f7f7f7;
    letter-spacing: 1px;
    font-family: 'Darker Grotesque', sans-serif;
    box-shadow: 1px 2px 8px rgba(70,70,70,.25);
    padding: 10px 20px; padding-right: 30px;
    border-radius: 8px;
    color: #525252;
    font-weight: 600;
    margin-bottom: 12px;
    max-width: 450px;
    width: auto;
	display: none;
	animation-duration: .5s;
	animation-fill-mode: both;
	/* animation-name: slide; */
	animation-delay: 1s;
}
.whtsc .whtsm span{ content: ''; position: absolute; width: 15px; height: 15px; right: 15px; top: 15px; left: auto; }
.whtsc .whtsm span:hover{ cursor: pointer; }
.whtsc .whtsm span::after{ content: ''; position: absolute; top: 8px; left: 0; width: 10px; height: 2px; background-color: #979797; transform: rotate(45deg); }
.whtsc .whtsm span::before{ content: ''; position: absolute; top: 8px; left: 0; width: 10px; height: 2px; background-color: #979797; transform: rotate(-45deg); }
.whtsc .whatswidget-button{
    content: '';
    width: 48px; height: 48px;
    position: relative;
    float: right;
    display: flex; justify-content: center; align-items: center;
    transition: .1s linear;
	animation-duration: .5s;
	animation-fill-mode: both;
	/* animation-name: zoomIn; */
}
.whtsc .whatswidget-button::before{ 
    content: ''; position: absolute;
    border-radius: 50%;
    z-index: 10000;
    width: 100%; height: 100%;
    box-shadow: 1px 2px 8px rgba(70,70,70,.25);
}
.whtsc .whatswidget-button img{ 
    z-index: 10001;
    transition: .1s linear;
    margin: 0 !important; padding: 0 !important;
    max-width: 100%; 
}
.whtsc .whatswidget-button:hover img{
    cursor: pointer;
    transform: scale(1.1);
}

/* POSITION THE WIDGET TO THE LEFT */
.whtsc.left{ left: 0; width: auto; right: initial; }
.whtsc.left .whatswidget-button{ float: left; }

/* SHOW WIDGET ON MOBILES DIVICES */
.whtsc.show-message-always .whtsm{ display: block; }

/* Tablets */
@media only screen and (min-width : 768px) 
{
    .whtsc .whtsm span{ right: 10px;}
    .whtsc .whtsm{ display: block; }
}

@keyframes zoomIn {
    from {
        transform: scale(.2);
        opacity: 0;
    }
}
@keyframes slide {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
}

/* Classes for animations */
.zoomIn { animation-name: zoomIn; }
.slide { animation-name: slide; }